In [329]:
from pandas.io.json import json_normalize
with open('ids.json') as f:
  ids2 = json.load(f)

ids2['features'][27]['properties']['state'] = "DKI JAKARTA"
ids2['features'][3]['properties']['state'] = "DI YOGYAKARTA"
ids2['features'][5]['properties']['state'] = "BANGKA BELITUNG"
ids2['features'][6]['properties']['state'] = "PAPUA BARAT"

for i in range(len(ids['features'])):
    
    ids2['features'][i]['properties']['state'] = ids2['features'][i]['properties']['state'].upper()
#     print(ids2['features'][i]['properties']['state'])
#     print((ids['features'][i]['properties']['state']))

In [330]:
import pandas as pd
ips= pd.DataFrame()
file_name = 'ips{}prov.xlsx'
for i in range (15,20):
    df_list = (pd.read_excel(file_name.format(i)).dropna())
    df_list["Tahun"] = ("20{}".format(i))
    ips = ips.append(df_list)
ips = ips.set_index("CAPAIAN NILAI UJIAN NASIONAL")
ips.columns = [ "KODE","NAMA PROVINSI","JUMLAH SATUAN PENDIDIKAN","JUMLAH PESERTA",
"BAHASA INDONESIA","BAHASA INGGRIS","MATEMATIKA","EKONOMI","SOSIOLOGI","GEOGRAFI","RERATA NILAI", "Tahun"]

In [331]:
import pandas as pd
ipa= pd.DataFrame()
file_name = 'ipa{}prov.xlsx'
for i in range (15,20):
    df_list = (pd.read_excel(file_name.format(i)).dropna())
    df_list["Tahun"] = ("20{}".format(i))
    ipa = ipa.append(df_list)
ipa = ipa.set_index("CAPAIAN NILAI UJIAN NASIONAL")
ipa.columns = [ "KODE","NAMA PROVINSI","JUMLAH SATUAN PENDIDIKAN","JUMLAH PESERTA",
"BAHASA INDONESIA","BAHASA INGGRIS","MATEMATIKA","FISIKA","KIMIA","BIOLOGI","RERATA NILAI", "Tahun"]

In [332]:
import pandas as pd
SMK= pd.DataFrame()
file_name = 'smk{}prov.xlsx'
for i in range (15,20):
    df_list = (pd.read_excel(file_name.format(i)).dropna())
    df_list["Tahun"] = ("20{}".format(i))
    SMK = SMK.append(df_list)

SMK = SMK.set_index("CAPAIAN NILAI UJIAN NASIONAL")
SMK.columns = [ "KODE","NAMA PROVINSI","JUMLAH SATUAN PENDIDIKAN","JUMLAH PESERTA",
"BAHASA INDONESIA","BAHASA INGGRIS","MATEMATIKA","KOMPETENSI","RERATA NILAI", "Tahun"]

In [333]:
for i in range(len(ids2['features'])):
    for j in SMK["NAMA PROVINSI"]:
        if(ids2['features'][i]['properties']['state'] == j):
            ids2['features'][i]['properties']['SMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['SMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['SMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['SMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['SMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            
           
            ids2['features'][i]['properties']['geo15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["KOMPETENSI"].values[0]
            ids2['features'][i]['properties']['geo16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["KOMPETENSI"].values[0]
            ids2['features'][i]['properties']['geo17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["KOMPETENSI"].values[0]
            ids2['features'][i]['properties']['geo18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["KOMPETENSI"].values[0]
            ids2['features'][i]['properties']['geo19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["KOMPETENSI"].values[0]
            
            ids2['features'][i]['properties']['matSMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matSMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matSMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matSMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matSMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            
            ids2['features'][i]['properties']['ingSMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingSMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingSMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingSMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingSMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            
            ids2['features'][i]['properties']['indoSMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoSMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoSMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoSMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoSMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            
            ids2['features'][i]['properties']['jumSMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumSMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumSMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumSMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumSMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            
            ids2['features'][i]['properties']['jspSMK15'] = SMK[((SMK.Tahun=="2015") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspSMK16'] = SMK[((SMK.Tahun=="2016") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspSMK17'] = SMK[((SMK.Tahun=="2017") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspSMK18'] = SMK[((SMK.Tahun=="2018") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspSMK19'] = SMK[((SMK.Tahun=="2019") & (SMK["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]

In [334]:
for i in range(len(ids2['features'])):
    for j in ipa["NAMA PROVINSI"]:
        if(ids2['features'][i]['properties']['state'] == j):
            ids2['features'][i]['properties']['ipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            
            ids2['features'][i]['properties']['bio15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["BIOLOGI"].values[0]
            ids2['features'][i]['properties']['bio16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["BIOLOGI"].values[0]
            ids2['features'][i]['properties']['bio17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["BIOLOGI"].values[0]
            ids2['features'][i]['properties']['bio18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["BIOLOGI"].values[0]
            ids2['features'][i]['properties']['bio19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["BIOLOGI"].values[0]
            
            ids2['features'][i]['properties']['fis15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["FISIKA"].values[0]
            ids2['features'][i]['properties']['fis16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["FISIKA"].values[0]
            ids2['features'][i]['properties']['fis17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["FISIKA"].values[0]
            ids2['features'][i]['properties']['fis18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["FISIKA"].values[0]
            ids2['features'][i]['properties']['fis19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["FISIKA"].values[0]
            
            ids2['features'][i]['properties']['kim15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["KIMIA"].values[0]
            ids2['features'][i]['properties']['kim16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["KIMIA"].values[0]
            ids2['features'][i]['properties']['kim17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["KIMIA"].values[0]
            ids2['features'][i]['properties']['kim18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["KIMIA"].values[0]
            ids2['features'][i]['properties']['kim19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["KIMIA"].values[0]
            
            ids2['features'][i]['properties']['matipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            
            ids2['features'][i]['properties']['ingipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            
            ids2['features'][i]['properties']['indoipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            
            ids2['features'][i]['properties']['jumipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            
            ids2['features'][i]['properties']['jspipa15'] = ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspipa16'] = ipa[((ipa.Tahun=="2016") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspipa17'] = ipa[((ipa.Tahun=="2017") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspipa18'] = ipa[((ipa.Tahun=="2018") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspipa19'] = ipa[((ipa.Tahun=="2019") & (ipa["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]

In [335]:
for i in range(len(ids2['features'])):
    for j in ips["NAMA PROVINSI"]:
        if(ids2['features'][i]['properties']['state'] == j):
            ids2['features'][i]['properties']['ips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            ids2['features'][i]['properties']['ips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["RERATA NILAI"].values[0]
            
            ids2['features'][i]['properties']['eko15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["EKONOMI"].values[0]
            ids2['features'][i]['properties']['eko16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["EKONOMI"].values[0]
            ids2['features'][i]['properties']['eko17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["EKONOMI"].values[0]
            ids2['features'][i]['properties']['eko18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["EKONOMI"].values[0]
            ids2['features'][i]['properties']['eko19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["EKONOMI"].values[0]
            
            ids2['features'][i]['properties']['sosio15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["SOSIOLOGI"].values[0]
            ids2['features'][i]['properties']['sosio16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["SOSIOLOGI"].values[0]
            ids2['features'][i]['properties']['sosio17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["SOSIOLOGI"].values[0]
            ids2['features'][i]['properties']['sosio18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["SOSIOLOGI"].values[0]
            ids2['features'][i]['properties']['sosio19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["SOSIOLOGI"].values[0]
            
            ids2['features'][i]['properties']['geo15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["GEOGRAFI"].values[0]
            ids2['features'][i]['properties']['geo16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["GEOGRAFI"].values[0]
            ids2['features'][i]['properties']['geo17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["GEOGRAFI"].values[0]
            ids2['features'][i]['properties']['geo18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["GEOGRAFI"].values[0]
            ids2['features'][i]['properties']['geo19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["GEOGRAFI"].values[0]
            
            ids2['features'][i]['properties']['matips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            ids2['features'][i]['properties']['matips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["MATEMATIKA"].values[0]
            
            ids2['features'][i]['properties']['ingips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            ids2['features'][i]['properties']['ingips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["BAHASA INGGRIS"].values[0]
            
            ids2['features'][i]['properties']['indoips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            ids2['features'][i]['properties']['indoips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["BAHASA INDONESIA"].values[0]
            
            ids2['features'][i]['properties']['jumips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            ids2['features'][i]['properties']['jumips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["JUMLAH PESERTA"].values[0]
            
            ids2['features'][i]['properties']['jspips15'] = ips[((ips.Tahun=="2015") & (ips["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspips16'] = ips[((ips.Tahun=="2016") & (ips["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspips17'] = ips[((ips.Tahun=="2017") & (ips["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspips18'] = ips[((ips.Tahun=="2018") & (ips["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]
            ids2['features'][i]['properties']['jspips19'] = ips[((ips.Tahun=="2019") & (ips["NAMA PROVINSI"] == j))]["JUMLAH SATUAN PENDIDIKAN"].values[0]

In [336]:
with open('id-states3.js', 'w') as outfile:
    json.dump(ids2, outfile)

In [51]:
data['type_a'].keys()

dict_keys(['2015-08-07', '2015-08-23', '2017-03-28'])

In [82]:
df = pd.DataFrame.from_dict({(i, j): data[i][j] for i in data.keys() for j in data[i].keys()}, orient='index')

In [73]:
df = pd.DataFrame.from_dict({(i) :  id_states['features'][i] for i in range(10)},orient='index)

SyntaxError: EOL while scanning string literal (<ipython-input-73-47b01b8cbe3b>, line 1)

,KODE,NAMA PROVINSI,JUMLAH SATUAN PENDIDIKAN,JUMLAH PESERTA,BAHASA INDONESIA,BAHASA INGGRIS,MATEMATIKA,FISIKA,KIMIA,BIOLOGI,RERATA NILAI,Tahun
CAPAIAN NILAI UJIAN NASIONAL,,,,,,,,,,,,
1,01,DKI JAKARTA,444,25422,80.19,74.13,65.24,78.98,70.61,68.76,72.99,2015
2,02,JAWA BARAT,1462,105157,75.45,61.82,53.73,67.49,59.04,63.85,63.56,2015
3,03,JAWA TENGAH,970,69263,77.98,61.63,50.33,60.45,53.39,59.41,60.53,2015
4,04,DI YOGYAKARTA,169,10052,82.12,65.14,51.81,61.26,58.07,63.26,63.61,2015
5,05,JAWA TIMUR,1510,101636,76.15,72.04,66.55,72.64,60.43,68.43,69.37,2015
6,06,ACEH,597,34673,72.78,70,64.68,69.37,70.57,67.36,69.13,2015
7,07,SUMATERA UTARA,1096,67478,81.51,74.5,71.87,79.06,77.9,71.88,76.12,2015
8,08,SUMATERA BARAT,322,22711,76.57,56.02,58.27,75.85,69.03,67.16,67.15,2015
9,09,RIAU,398,21877,76.71,67.36,66.45,75.94,70.44,68.37,70.88,2015
10,10,JAMBI,210,11388,72.88,61.22,50.97,54.41,58.9,59.33,59.62,2015
11,11,SUMATERA SELATAN,494,30796,75.94,65.88,67.66,74.15,66.7,64.61,69.16,2015
12,12,LAMPUNG,378,21889,73.75,61.24,49.91,49.38,49.88,62.73,57.82,2015
13,13,KALIMANTAN BARAT,274,10911,76.87,67.06,51.82,54.69,58.55,55.37,60.73,2015
14,14,KALIMANTAN TENGAH,177,6548,74.45,55.33,41.63,45.79,47.93,49.35,52.41,2015
15,15,KALIMANTAN SELATAN,215,9499,74.16,69.64,66.62,69.15,55.79,59.63,65.83,2015
16,16,KALIMANTAN TIMUR,164,9362,74.62,64.43,50.42,56.13,51.5,52.79,58.32,2015
17,17,SULAWESI UTARA,190,8269,70.72,73.07,64.91,71.68,61.03,63.86,67.55,2015
18,18,SULAWESI TENGAH,192,10289,66.36,57.62,41.74,49.36,37.55,47.26,49.98,2015
19,19,SULAWESI SELATAN,625,43818,73.96,68.53,69.24,79.37,53.86,77.31,70.38,2015
20,20,SULAWESI TENGGARA,267,13426,70.62,66.62,66.97,72.91,60.38,65.35,67.14,2015
21,21,MALUKU,242,9655,66.96,57.37,51.39,53.12,51.22,55.13,55.87,2015
22,22,BALI,138,14168,82.79,85.66,80.74,85.98,82.19,82.72,83.35,2015
23,23,NUSA TENGGARA BARAT,326,17557,65.03,56.3,53.85,58.95,45.45,48.94,54.75,2015
24,24,NUSA TENGGARA TIMUR,381,15349,65.08,52.17,36.54,42.41,34.57,41.06,45.31,2015
25,25,PAPUA,172,7244,64.54,49.83,40.5,41.36,43.98,44.69,47.48,2015
26,26,BENGKULU,127,6989,70.88,61.18,38.79,63.58,45.59,61.8,56.97,2015
27,27,MALUKU UTARA,201,6652,66.71,55.28,55.28,51.82,52.82,56.06,56.33,2015
28,28,BANGKA BELITUNG,59,2912,75.3,54.77,36.34,42.11,44.92,46.72,50.03,2015
29,29,GORONTALO,72,3529,71.59,66.82,54.03,58,49.81,58.74,59.83,2015
30,30,BANTEN,428,26492,72.74,63.26,50.15,58.64,54.82,56.64,59.38,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
5,05,JAWA TIMUR,1689,129145,73.26,56.54,41.92,48.03,53.89,54.52,56.28,2019
6,06,ACEH,702,38165,56.25,41.72,32.36,37.66,41.69,42.34,43.03,2019
7,07,SUMATERA UTARA,1192,82460,61.85,47.85,36.4,41.62,47.27,46.02,47.93,2019
8,08,SUMATERA BARAT,370,27451,72.85,52.82,41.1,47.24,52.57,52.3,54.61,2019
9,09,RIAU,458,27316,68.71,50.47,37.24,42.83,48.27,49.04,51.15,2019
10,10,JAMBI,231,14247,66.22,48.27,36.05,41.88,46.71,47.72,49.34,2019
11,11,SUMATERA SELATAN,557,37479,63.75,46.92,35.33,40.56,46.11,46.87,48.02,2019
12,12,LAMPUNG,426,28796,68.78,48.58,36.18,42,47.23,48.6,50.32,2019
13,13,KALIMANTAN BARAT,341,16078,70.06,50.59,36.54,43.41,48.78,48.94,51.36,2019
14,14,KALIMANTAN TENGAH,211,9716,67.38,48.07,33.88,39.24,44.53,47.1,48.8,2019
15,15,KALIMANTAN SELATAN,244,13262,74.47,52.17,37.32,43.54,48.86,52.36,53.65,2019
16,16,KALIMANTAN TIMUR,202,13345,74.24,55.83,38.26,46.07,47.87,51.8,54.57,2019
17,17,SULAWESI UTARA,220,10460,62.49,49.39,33.03,38.7,40.7,44.76,47.03,2019
18,18,SULAWESI TENGAH,242,13251,62.96,43.86,32.54,38.79,43.23,45.26,45.93,2019
19,19,SULAWESI SELATAN,709,52207,62.34,44.54,33.88,39.34,43.86,44.82,46.21,2019
20,20,SULAWESI TENGGARA,325,16668,63.91,44.92,34.48,42.92,45.87,46.43,47.28,2019
21,21,MALUKU,305,12154,55.87,42.25,33.22,38.97,39.94,45.83,43.82,2019
22,22,BALI,141,16153,74.85,59.55,41.08,47.87,55.78,55.67,57.59,2019
23,23,NUSA TENGGARA BARAT,387,21087,62.96,44.83,33.22,40.94,44.14,44.39,46.22,2019
24,24,NUSA TENGGARA TIMUR,532,21497,62.05,42.51,31.68,37.63,40.79,44.46,44.7,2019
25,25,PAPUA,206,9491,57.64,44.6,33.23,40.49,41.13,43.4,44.52,2019
26,26,BENGKULU,143,9060,68.09,47.93,37.05,42.15,46.84,49.57,50.38,2019
27,27,MALUKU UTARA,174,6817,52.12,41.98,33.52,38.99,41.41,45.66,43.01,2019
28,28,BANGKA BELITUNG,71,4250,74.37,53.4,39.9,46.59,49.35,51.72,54.55,2019
29,29,GORONTALO,87,5087,64.55,44.66,33.31,40.77,42.54,45.82,46.81,2019
30,30,BANTEN,524,36225,68.9,55.49,39.28,47.55,50.73,49.47,53.25,2019
31,31,KEPULAUAN RIAU,121,6345,74.41,60.53,42.25,48.44,54.4,52.69,57.34,2019
32,32,SULAWESI BARAT,92,4851,61.85,41.61,31.61,38.2,40.5,43.16,44.37,2019
33,33,PAPUA BARAT,115,4358,61.24,46.83,37.49,43.9,48.24,47.59,48.17,2019
34,34,KALIMANTAN UTARA,54,2531,70.31,49.64,34.3,38.6,44.33,48.74,50.22,2019

In [232]:
with open('ids2.js') as f:
  ids2 = json.load(f)

In [298]:
with open('id-states2.js', 'w') as outfile:
    json.dump(ids2, outfile)

NameError: name 'ips' is not defined

In [253]:
ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == "ACEH"))].KIMIA.values[0]

70.57

In [257]:
ipa[((ipa.Tahun=="2015") & (ipa["NAMA PROVINSI"] == "ACEH"))]["RERATA NILAI"].values[0]

69.13

{'cartodb_id': 16,
 'country': 'Indonesia',
 'id_1': 1,
 'state': 'Aceh',
 'name': 'Special Region of Aceh',
 'key': 'indonesia-aceh',
 'slug': 'special-region-of-aceh'}

In [120]:
ids[0]['properties']

{'cartodb_id': 16,
 'country': 'Indonesia',
 'id_1': 1,
 'state': 'Aceh',
 'name': 'Special Region of Aceh',
 'key': 'indonesia-aceh',
 'slug': 'special-region-of-aceh'}